<div class="collections-card" data-id="<%= collection.synthetic_id %>">
  <%= link_to(root_path, class: "collections-card__cover-photos-link") do %>
  <div class="collections-card__cover-photos">
    <% (0..3).each do |photo_idx| %>
      <% photo = collection.cover_photos[photo_idx] %>

      <% if photo %>
        <div class="collections-card__cover-photo" data-id="<%= photo_idx %>" style="background-image: url(<%= photo.source.url(:medium) %>);">
        </div>
      <% else %>
        <div class="collections-card__cover-photo collections-card__cover-photo--blank" data-id="<%= photo_idx %>">
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <div class="collections-card__info">
    <div class="collections-card__name">
      <%=
        link_to(
          truncate(collection.name, length: 35, separator: " ", escape: false),
          root_path
        )
      %>
    </div>

    <div class="collections-card__menu-btn">
      <%= inline_svg("icons/menu-dots.svg", height: "20px", width: "20px") %>

      <ul class="collections-card__menu">
        <li class="collections-card__menu-item collections-card__menu-item--delete">
          <%= link_to("#") do %>
            <%= inline_svg("icons/trash.svg", height: "20px", width: "20px") %>
            <span><%= t(".delete") %></span>
          <% end %>
        </li>
        <li class="collections-card__menu-item collections-card__menu-item--share">
          <%= link_to("#") do %>
            <%= inline_svg("icons/share.svg", height: "20px", width: "20px") %>
            <span><%= t(".share") %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
