<%= render "layouts/action_notifications", notifications: action_notification_props %>

<h1 class="page-heading">
  <%= t(".heading").downcase %>
</h1>

<div class="collections-index-container">
  <%= button_to(collections_path, form_class: "collections-index-create", params: { "collection[name]": "Untitled" }) do %>
    <%= inline_svg_tag("icons/plus.svg", height: "32px", width: "32px") %>
  <% end %>

  <% @collections.each do |collection| %>
    <%= render("collections/card", collection: collection) %>
  <% end %>
</div>
