<%= render "delete_modal" %>

<%= render "editable_name_heading", collection: @collection %>

<div class="collections-show__back-btn">
  <%= link_to(collections_path) do %>
    <%= inline_svg("icons/arrow-thick-left.svg", height: "20px", width: "20px") %>
  <% end %>
</div>
<%= render "shared/photo_count", photo_count: @photo_count %>

<% if @date_range_label %>
<div class="collections-show__date-range">
  <%= @date_range_label %>
</div>
<% end %>

<ul class="collections-show__action-bar" data-id="<%= @collection.synthetic_id %>">
  <li class="collections-show__action-bar-item collections-show__action-bar-item--delete">
    <%= inline_svg("icons/trash.svg", height: "22px", width: "22px") %>
  </li>
  <li class="collections-show__action-bar-item collections-show__action-bar-item--share">
    <%= inline_svg("icons/share.svg", height: "22px", width: "22px") %>
  </li>
</ul>

<% if @photo_count.zero? %>
<div class="collections-show__emtpy-state">
  <%= t(".empty") %>
</div>
<% else %>
<div class="collections-show__photo-grid-container photo-grid-container page-content">
  <%=
    react_component(
      "photo_grid",
      {
        photoData: PhotoPresenter.wrap(@photos, view: view_context).map(&:photo_grid_props)
      },
      { prerender: Rails.env.test? }
    )
  %>
</div>
<% end %>
