<div class="page-content">
  <%= render "layouts/flash", flash: flash %>

  <h1 class="page-heading">
    <%= @collection.name %>
  </h1>

  <%= render "shared/photo_count", photo_count: @photo_count %>

  <% if @date_range_label %>
  <div class="collections-sharing-display-show__date-range">
    <%= @date_range_label %>
  </div>
  <% end %>

  <div class="collections-sharing-display-show__download-files-container">
    <%=
      react_component(
        "collections-sharing-display-download-files",
        {
          collection: @collection.as_json(include: %[share_id])
        }
      )
    %>
  </div>

  <% if @photo_count.zero? %>
  <div class="collections-sharing-display-show__emtpy-state">
    <%= t(".empty") %>
  </div>
  <% else %>
  <div class="collections-sharing-display-show__photo-manager-container photo-manager-container">
    <%=
      react_component(
        "photo-manager",
        {
          photos: PhotoPresenter.wrap(@photos, view: view_context).map(&:photo_manager_props),
          permissions: {
            allowAddingToCollection: false,
            allowRemovingFromCollection: false,
            isEditable: false
          }
        }
      )
    %>
  </div>
  <% end %>
</div>
