<ul class="auth__links">
  <% if controller_name != "sessions" %>
    <li><%= link_to t(".log_in"), new_user_session_path %></li>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != "registrations" %>
    <li><%= link_to t(".register"), new_user_registration_path %></li>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
    <li><%= link_to t(".reset_password"), new_user_password_path %></li>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != "confirmations" %>
    <li><%= link_to t(".resend_confirmation"), new_user_confirmation_path %></li>
  <% end %>

  <li>
    <a href="<%= omniauth_authorize_path(resource_name, "google_oauth2") %>">
      <div class="omniauth-btn omniauth-btn--google">
        <div class="logo"><%= inline_svg("omniauth/google.svg", height: "18px", width: "18px" ) %></div>
        <div class="label"><span>Sign In With Google</span></div>
      </div>
    </a>
  </li>
</ul>
