<%= render "layouts/action_notifications", notifications: action_notification_props %>
<%= render "layouts/flash", flash: flash %>

<h1 class="page-heading">
  <%= t(".heading").downcase %>
</h1>
<%= render "shared/photo_count", photo_count: @photo_count %>

<div class="photos-index__photo-manager-container photo-manager-container">
  <%=
    react_component(
      "photo-manager",
      {
        photos: PhotoPresenter.wrap(@photos, view: view_context).map(&:photo_manager_props),
        collections: CollectionPresenter.wrap(@collections, view: view_context).map(&:photo_manager_props),
        permissions: {
          allowAddingToCollection: true,
          allowDeletingCollection: false,
          allowDownloadingCollection: false,
          allowRemovingFromCollection: false,
          allowSharingCollection: false,
          isEditable: true
        }
      }
    )
  %>
</div>
