<%= render "layouts/action_notifications", notifications: action_notification_props %>

<% if @photo_count.zero? %>
<div class="photos-index__emtpy-state">
  <%= t(".empty") %>
</div>
<% else %>
<h1 class="page-heading">
  <%= t(".heading").downcase %>
</h1>
<%= render "shared/photo_count", photo_count: @photo_count %>

<div class="photos-index__photo-grid-container photo-grid-container page-content">
  <%=
    react_component(
      "photo_grid",
      {
        photoData: PhotoPresenter.wrap(@photos, view: view_context).map(&:photo_grid_props),
        collections: CollectionPresenter.wrap(@collections, view: view_context).map(&:photo_grid_props)
      },
      { prerender: Rails.env.test? }
    )
  %>
</div>
<% end %>
