<%= render "layouts/flash" %>

<div class="site-index-container container">
  <div class="site-index-logo">
    <%= inline_svg("logo.svg", height: "100px", width: "100px") %>
  </div>

  <div class="site-index-auth-form__container">
    <%=
      form_tag(log_in_path) do %>
        <ul>
          <li>
            <%=
              text_field_tag(
                "session[email]",
                nil,
                placeholder: User.human_attribute_name(:email)
              )
            %>
          </li>
          <li>
            <%=
              password_field_tag(
                "session[password]",
                nil,
                placeholder: User.human_attribute_name(:password)
              )
            %>
          </li>
          <li>
            <%= hidden_field_tag(:dest, @dest) %>
          </li>
        </ul>
        <%=
          submit_tag(
            t(".form.submit"),
            name: "log-in",
            data: { disable_with: t("form.disable_with") },
            class: "site-index-auth-form__submit cta cta-purple"
          )
        %>
    <% end %>
  </div>
</div>
