<%#-
  Only include this partial in the desktop template, not the mobile. This
  prevents it from being included twice.
%>
<%= render "product_feedbacks/create_modal" %>

<nav class="desktop-navigation">
  <div class="desktop-navigation__logo">
    <%= link_to(inline_svg_tag("logo-dark.svg", width: "100px", height: "50px"), root_path) %>
  </div>

  <ul class="desktop-navigation__links">
    <li class="desktop-navigation__link-element">
      <%= link_to(t(".links.my_photos"), photos_path) %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--minor">
      <%= link_to(t(".links.locations"), "#") %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--minor">
      <%= link_to(t(".links.people"), "#") %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--minor">
      <%= link_to(t(".links.favorites"), "#") %>
    </li>

    <li class="desktop-navigation__link-element">
      <%= link_to(t(".links.collections"), collections_path) %>
    </li>

    <li class="desktop-navigation__link-element">
      <%= link_to(t(".links.account"), account_profile_index_path) %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--product-feedback">
      <%= link_to("#") do %>
        <%= t(".links.product_feedback") %>
        <%= inline_svg_tag("icons/speaker.svg", width: "22px", height: "22px") %>
      <% end %>
    </li>

    <li class="desktop-navigation__link-element">
      <%= link_to(t(".links.log_out"), destroy_user_session_path) %>
    </li>
  </ul>
</nav>
