<nav class="desktop-navigation">
  <div class="desktop-navigation__logo">
    <%= link_to(inline_svg("logo.svg", height: "80px", width: "80px"), root_path) %>
  </div>

  <ul class="desktop-navigation__links">
    <li class="desktop-navigation__link-element desktop-navigation__link-element--major">
      <%= link_to(t(".links.my_photos"), home_index_path) %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--minor">
      <%= link_to(t(".links.locations"), "#") %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--minor">
      <%= link_to(t(".links.people"), "#") %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--minor">
      <%= link_to(t(".links.favorites"), "#") %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--major">
      <%= link_to(t(".links.collections"), collections_path) %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--major">
      <%= link_to(t(".links.settings"), "#") %>
    </li>

    <li class="desktop-navigation__link-element desktop-navigation__link-element--major">
      <%= link_to(t(".links.log_out"), log_out_path) %>
    </li>
  </ul>

  <div class="desktop-navigation__collapser">
    <div class="desktop-navigation__collapser--expanded active">
      <%= inline_svg("icons/double-chevron-left.svg", height: "32px", width: "32px") %>
      <span><%= t(".collapser.collapse_nav") %></span>
    </div>

    <div class="desktop-navigation__collapser--collapsed inactive">
      <%= inline_svg("icons/double-chevron-right.svg", height: "32px", width: "32px") %>
    </div>
  </div>
</nav>
