<nav class="mobile-navigation inactive">
  <div class="mobile-navigation__close">
    <%= inline_svg_tag("icons/x.svg", height: "24px", width: "24px" ) %>
  </div>

  <div class="mobile-navigation__profile">
    <%= link_to(image_tag(current_user_presenter.avatar_path(size: :thumb)), root_path) %>
    <span><%= current_user.first_name.downcase %></span>
  </div>

  <ul class="mobile-navigation__links">
    <li class="mobile-navigation__link-element">
      <%= link_to(t(".links.my_photos"), photos_path) %>
    </li>

    <li class="mobile-navigation__link-element mobile-navigation__link-element--minor">
      <%= link_to(t(".links.locations"), "#") %>
    </li>

    <li class="mobile-navigation__link-element mobile-navigation__link-element--minor">
      <%= link_to(t(".links.people"), "#") %>
    </li>

    <li class="mobile-navigation__link-element mobile-navigation__link-element--minor">
      <%= link_to(t(".links.favorites"), "#") %>
    </li>

    <li class="mobile-navigation__link-element">
      <%= link_to(t(".links.collections"), collections_path) %>
    </li>

    <li class="mobile-navigation__link-element">
      <%= link_to(t(".links.account"), account_profile_index_path) %>
    </li>

    <% if can?(:read, :admin) %>
    <li class="mobile-navigation__link-element">
      <%= link_to(t(".links.admin"), admin_index_path) %>
    </li>
    <% end %>

    <li class="mobile-navigation__link-element mobile-navigation__link-element--product-feedback">
      <%= link_to("#") do %>
        <%= t(".links.product_feedback") %>
        <%= inline_svg_tag("icons/speaker.svg", width: "22px", height: "22px") %>
      <% end %>
    </li>

    <li class="mobile-navigation__link-element">
      <%= link_to(t(".links.log_out"), destroy_user_session_path) %>
    </li>
  </ul>
</nav>

<div class="mobile-navigation__overlay inactive"></div>
