<!DOCTYPE html>
<html>
<head>
  <title>Reely</title>
  <%= stylesheet_pack_tag @use_pack || "application", media: "all", "cache" => false %>

  <%= javascript_pack_tag "i18n" %>
  <%= javascript_include_tag "/i18n/translations.js" %>
  <%= javascript_pack_tag @use_pack || "application" %>

  <%= csrf_meta_tags %>

  <%#- Favicons (generated from realfavicongenerator.net) %>
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("favicons/apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path("favicons/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path("favicons/favicon-16x16.png") %>">
  <link rel="manifest" href="<%= image_path("favicons/site.webmanifest") %>">
  <link rel="mask-icon" href="<%= image_path("favicons/safari-pinned-tab.svg") %>" color="#5bbad5">
  <link rel="shortcut icon" href="<%= image_path("favicons/favicon.ico") %>">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="<%= image_path("favicons/browserconfig.xml") %>">
  <meta name="theme-color" content="#ffffff">

  <% GOOGLE_FONTS.each do |family| %>
    <%=
      stylesheet_link_tag(
        "https://fonts.googleapis.com/css?family=#{family}",
        type: "text/css"
      )
    %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <% end %>
</head>
<body id="<%= page_specific_css_id %>">
  <%= render "application/modal" %>
  <%= content_for?(:nested_layout_content) ? yield(:nested_layout_content) : yield %>
</body>
</html>
