<!DOCTYPE html>
<html>
<head>
  <title>Reely</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, "cache" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <% ["Raleway", "Open+Sans"].each do |family| %>
    <%=
      stylesheet_link_tag(
        "http://fonts.googleapis.com/css?family=#{family}",
        type: "text/css"
      )
    %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <% end %>
</head>
<body id="<%= page_specific_css_id %>">
  <%= content_for?(:nested_layout_content) ? yield(:nested_layout_content) : yield %>
</body>
</html>
