<%= render_inside(parent_layout: "application") do %>
  <section class="responsive-navigation-view-container responsive-navigation-view-container--mobile">
    <%= render "mobile_navigation" %>
  </section>

  <section class="responsive-navigation-view-container responsive-navigation-view-container--desktop">
    <%= render "desktop_navigation" %>

    <div class="desktop_navigation__content">
      <div class="desktop-navigation__header">
        <div class="desktop-navigation__profile-pic">
          <%= link_to(root_path) do %>
            <%= image_tag(current_user.avatar_url) %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </section>
<% end %>
