<%= render_inside(parent_layout: "application") do %>
  <%= render "layouts/flash", flash: flash %>

  <section class="responsive-navigation-view-container responsive-navigation-view-container--mobile">
    <%= render "mobile_navigation" %>
  </section>

  <section class="responsive-navigation-view-container responsive-navigation-view-container--desktop">
    <%= render "desktop_header" %>

    <div class="responsive-navigation-content-container responsive-navigation-content-container--desktop">
      <%= render "desktop_navigation" %>
      <div class="responsive-navigation-content responsive-navigation-content--desktop">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
