<%= render_inside(parent_layout: "application") do %>
  <section class="responsive-navigation-view-container">
    <%= render "desktop_navigation" %>
    <%= render "mobile_navigation" %>

    <div class="responsive-navigation-content-container">
      <%= render "desktop_header" %>
      <%= render "mobile_header" %>
      <%= render "layouts/flash", flash: flash %>

      <div class="responsive-navigation-content">
        <%= yield %>
      </div>
    </div>
  </section>
<% end %>
